#proj-mainscreen, #proj-wastemodule {
    margin: 0;
    padding: 0;
}
#proj-wastemodule {
    display: none;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(255, 251, 35);;
    line-height: 3rem;
}