body {
    min-width: 1280px !important;
    min-height: 800px !important;
    max-width: 1280px !important;
    max-height: 800px !important;
    user-select: none;
    user-zoom: none;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
#proj-welcome, #proj-experience-alert, #proj-help-guide, #proj-intro-concept, #proj-citizen-quotes, #proj-value-chains, #proj-broad-data-vcs, #proj-construction-sector, #proj-food-sector, #proj-consumer-goods-sector, #proj-speculative-future, #proj-get-involved, #proj-commit-future, #speculative-text-div {
    display: flex;
    width: 1280px;
    height: 800px;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
}
#proj-intro-concept, #proj-experience-alert, #proj-help-guide, #proj-citizen-quotes, #proj-value-chains, #proj-broad-data-vcs, #proj-construction-sector, #proj-food-sector, #proj-consumer-goods-sector, #proj-speculative-future, #proj-get-involved, #proj-commit-future {
    display: none;
}

/* SECTION 00 - HELP GUIDE */

#help-guide-text-div {
    max-width: 65%;
}
#help-guide-text-div p {
    margin-top: 5rem;
    max-width: 50%;
}

/*  SECTION- WELCOME  */
#proj-welcome {
    background-color: #7a8dfe;
}
#welcome-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 60%;
    background: none;
}
#welcome-text-div > h1 {
    line-height: 3.8rem !important;
    font-size: 4rem;
    margin-top: 150px;
}
#welcome-text-div > p {
    width: 85%;
    color: white;
}
#welcome-visuals-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    z-index: 100;
}
#welcome-visuals-div > #map-static {
    position: fixed;
    top: -250px;
    left: 450px;
    min-width: 1300px;
    object-fit: contain;
}
#welcome-visuals-div > #circular-gif {
    position: fixed;
    top: 190px;
    left: 800px;
    max-width: 450px;
}

/* SECTION 1 - INTRODUCTION - CIRCULARITY */

#intro-concept {
    max-width: 65%;
}
#intro-concept p {
    margin-top: 5rem;
    max-width: 100%;
}

/* SECTION 2 - CITIZEN QUOTES - WOULD YOU DO THIS? */

#citizen-quotes-text-div {
    text-align: center;
    max-width: 100%;
    position: fixed;
    left: 20px;
}
#citizen-quotes-text-div > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    z-index: 9999 !important;
    text-align: center;
    max-width: 100%;
    position: fixed;
    left: 170px;
}
#comment1, #comment2, #comment3, #comment4, #comment5, #comment6 {
    position: fixed;
    border-radius: 8px;
    box-shadow: 10px 10px 40px #7040f3;
    max-width: 600px;
}
#comment1 {
    top: 360px;
    left: 700px;
    animation-delay: 1s;
}
#comment2 {
    top: 540px;
    left: 750px;
    max-width: 500px;
    animation-delay: 1.5s;
}
#comment3 {
    top: 200px;
    left: 650px;
    animation-delay: 2s;
}
#comment4 {
    top: 600px;
    left: 100px;
    animation-delay: 2.5s;
}
#comment5 {
    top: 400px;
    left: 50px;
    animation-delay: 3s;
}
#comment6 {
    top: 200px;
    left: 30px;
    animation-delay: 3.5s;
}
#worldmap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10 !important;
}

/* SECTION 3 - INTRODUCING 3 VALUE CHAINS */

#video-intro-vcs {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#intro-vcs-text-div {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(25, 2, 78, 0.603) 100%) no-repeat;
    height: 50%;
}

#intro-vcs-text-div > h1 {
    max-width: 70%;
}


/* SECTION 4 - BROAD DATA OF 3 VALUE CHAINS */

#video-boats {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#broad-data-vcs-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(25, 2, 78, 0.603) 100%) no-repeat;
    height: 50%;
    width: 100%;
}

/* SECTION 5 - CONSTRUCTION SECTOR */

#video-construction {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#construction-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#construction-text-div > h1 {
    max-width: 70%;
}

/* SECTION 6 - FOOD SECTOR */

#video-farms {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#food-sector-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    max-width: 70%;
}
#food-sector-text-div > p {
    max-width: 50%;
    animation-delay: 3s;
}

/* SECTION 7 - CONSUMER GOODS SECTOR */

#consumer-goods-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    max-width: 55%;
    margin-top: 50px;
}
#consumer-goods-text-div > p {
    max-width: 50%;
}
#adamtower {
    position: fixed;
    top: 25px;
    left: 800px;
    width: 350px;
}

/* SECTION 8 - SPECULATIVE FUTURE */
#proj-speculative-future {
    background-color: #3D00C9;
}
#speculative-text-div {
    background-color: #00E2BF;
    box-shadow: 0px 0px 80px #01b0b6;
    border-radius: 8px;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 150px;
    left: 120px;
    z-index: 100;
    max-width: 80%;
    max-height: 60%;
    padding: 30px;
}
#speculative-text-div > h1 {
    margin: 0;
    margin-top: 50px;
}
#speculative-text-div > h1:nth-child(1) {
    margin-top: 30px;
}

/* SECTION 9 - COMMITMENT TO FUTURE */
#commit-texts-div {
    max-width: 50%;
}
#timecapsule {
    position: fixed;
    top: 180px;
    left: 600px;
    max-width: 600px;
}