html {
    background-color: black;
}
body {
    background-color: #7a8dfe; /* #3b00c9 */
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h3, h4, h5, h6, p, button {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #ffffff !important;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 60px 0 0 80px;
    line-height: 4rem;
    letter-spacing: 0.4rem; 
}
h2 /* STILL NEED TO BE DEFINED */ {
    font-family: 'Lora', serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 0 60px;
    line-height: 4rem; 
}
h3 /* STILL NEED TO BE DEFINED */ {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 0 60px;
    line-height: 4rem; 
}
h4 /* Help Section */ {
    font-family: 'Montserrat', sans-serif;
    color: #fd9b24;
    font-weight: 600;
    font-size: 3rem;
    margin: 120px 80px 0 0px;
    line-height: 4rem; 
    text-align: right;
}
h5 /* Help Section */ {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 80px 0;
    line-height: 4rem; 
    text-align: right;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.2rem;
    margin: 60px 80px 0;
    line-height: 3rem;
}
.nav-button {
    border-radius: 10px;
    font-weight: 800;
    text-align: center;
    background-color: #3D00C9;
    color: white;
    border: solid 2px #017e83;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    margin: 0 10px 60px;
    box-shadow: 10px 10px 40px #7040f3;
    z-index: 10000;
}
.nav-button:hover {
    color: white;
    background-color: #5d06ff;
    border-color: #01b0b6;
}
.nav-button:focus, #close-help-btn, #help-btn, #home-btn  {
    border: none !important;
    outline: none !important;
}