body {
    min-width: 1920px;
    min-height: 1080px;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
    padding: 0;
    user-select: none;
    user-zoom: none;
    touch-action: none;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* STYLES FOR INITILIZATION OF SETUP */

#init-container {
    flex-direction: column !important;
    z-index: 0;
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
}
#init-container, #nav-container {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#nav-container {
    align-items: flex-end;
    z-index: 10000;
    pointer-events: all;
    width: 1920px;
    height: 220px;
    position: fixed;
    bottom: 0;
    left: 0;
}
#init-container > #init-h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 3rem;
}
#init-container > #init-btn {
    margin: 0 auto;
    margin-left: auto;
}
#welcome-text-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 60%;
    background: none;
}
#welcome-text-div > h1 {
    line-height: 3.8rem !important;
    font-size: 4rem;
}
#welcome-text-div > p {
    width: 85%;
    color: white;
}
#welcome-visuals-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    z-index: 100;
}
#welcome-visuals-div > #map-static {
    position: fixed;
    top: -950px;
    right: -650px;
    min-width: 3000px;
    object-fit: contain;
}
#welcome-visuals-div > #circular-gif {
    position: fixed;
    top: 0px;
    right: 420px;
    min-width: 1100px;
}
#welcome > #nav-container {
    top: 430px;
}
/* END OF THIS SECTION */

/* STYLES FOR HOME/HELP NAV BAR AND DIALOGUES */

.button-nav-bar {
    position: fixed;
    z-index: 10000;
    top: -3px;
    right: -3px;
    padding: 20px 20px 35px 35px;
    background-color: #3D00C9;
    border: solid 2px #7a4aff;
    border-radius: 0 0 0 50px;
    box-shadow: 10px 0px 60px 20px #7040f3;
}
.button-nav-bar #help-btn, .button-nav-bar #home-btn {
    background-color: rgba(0,0,0,0);
    width: 60px;
    height: 60px;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
}
#help-dialogue {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: white;
    color: #000000 !important;
    z-index: 10000;
    transition: 0.5s;
}
#help-paragraph {
    margin: 60px 80px 0;
    color: black;
}
#close-help-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 20px;
    font-size: 3rem;
    margin: 60px 0 0 80px;
}
#home-dialogue {
    display: none;
    z-index: 10000;
    width: 1200px;
    height: 800px;
    position: fixed;
    top: 140px;
    left: 360px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 80px #1e0558;
    transition: 0.5s;
}
#home-dialogue h5 {
    margin-top: 300px;
    text-align: center;
}
div #home-dialogue-btns {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.dialogue-btn {
    width: 40%;
    border-radius: 2px;
    padding: 2rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 5%;
}
#confirm-home-btn {
    background-color: #fd9b24;
    color: white;
    border: solid 3px #b95306;
    margin-right: 10px;
}
#close-home-btn {
    background-color: #6e6e6e;
    color: white;
    border: solid 3px #414141;
    margin-left: 10px;
}
/* END OF THIS SECTION */

/* OVERALL STYLES */

h1 {
    width: 70%;
}

#bubble1, #bubble2, #bubble3, #bubble4, #bubble5, #bubble6, #bubble7, #bubble8, #bubble9, #bubble10, #bubble11, #bubble12, #bubble13, #bubble14, #bubble15, #bubble16, #bubble17 {
    position: fixed;
    z-index: 10000;
}

#begin-guided-btn, #citizen-quotes-btn, #introduce-value-chains-btn, #broad-data-vcs-btn, #construc-sector-btn, #food-sector-btn, #consumer-goods-btn, #speculative-future, #commit-future-btn, #get-involved-btn, #to-home-btn {
    animation-delay: 10s !important;
}

#wood-worker-help-guide > #character, #chef-help-guide > #character, #woman-help-guide > #character, #wood-worker-intro-vcs > #character, #woman-intro-vcs > #character, #wood-worker-broad-data > #character, #chef-broad-data > #character, #wood-worker-construction > #character, #chef-construction > #character, #chef-food > #character, #woman-food > #character, #woman-consumers > #character, #woman-consumers > #character2  {
    position: fixed;
}

/* CONTENT DIV STYLE */

.content-container, #commitments-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#intro-vcs-visuals, #help-guide-visuals, #character-broad-data-visuals, #character-construction-visuals, #character-food-visuals, #character-consumer-visuals, #character-speculative-visuals {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1980px;
    min-height: 1080px;
}

/* SECTION 0 - HELP GUIDE STYLE */

.content-container > h1 {
    animation-delay: 4s;
}
#begin-guided-btn {
    position: fixed;
    bottom: 0;
    right: 150px;
}
#wood-worker-help-guide > #character, #chef-help-guide > #character, #woman-help-guide > #character {
    min-width: 600px;
    max-width: 600px;
}
#wood-worker-help-guide > #character {
    bottom: 50px;
    left: -80px;
    animation-delay: 6s;
}
#chef-help-guide > #character {
    bottom: -140px;
    left: 750px;
    animation-delay: 7.5s;
}
#woman-help-guide > #character {
    bottom: 150px;
    right: 200px;
    animation-delay: 9s;
}
#bubble1 {
    top: 110px;
    left: 100px;
    animation-delay: 6.5s;
}
#bubble2 {
    bottom: 300px;
    right: 850px;
    max-width: 600px;
    animation-delay: 9.5s;
}
#bubble3 {
    top: 230px;
    right: 50px;
    max-width: 500px;
    animation-delay: 11s;
}

/* MESSAGE ALERT STYLE */

.alert-message {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 1300px;
    height: 700px;
    margin: 15% auto;
    background-color: white;
    box-shadow: 10px 10px 40px #7040f3;
    border-radius: 8px;
    justify-content: flex-end;
} #alert-h1 {
    color: #3D00C9 !important;
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 60px;
    padding: 0 1.5%;
} #alert-h2 {
    color: #3D00C9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: justify;
    padding: 0 4.5%;
    margin: 0 0 230px;
} #ok-alert-btn {
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 180px;
}
#alert-visual {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 10px 10px 40px #7040f3;
    border-radius: 50%;
    z-index: 10000;
    border: solid 10px #7040f3;
    top: 100px;
    left: 860px;
} #alert-visual img {
    padding-top: 25px;
}

/* 1 - INTRODUCTION - CIRCULARITY */
/* QUIZZ STYLE */

.answeritem {
    width: 70%;
    margin: 30px auto 0;
    padding: 25px 0 25px 50px;
    border: 1px solid #a8a8a8;
    border-left: 10px solid #3D00C9;
    background-color: white;
    z-index: 10001;
    color: black;
    text-align: left;
    font-size: 1.7rem;
    outline: none !important;
    border-radius: 8px;
    box-shadow: 3px 3px 30px #6b40d1;
    opacity: 1;
}
.correctanswer {
    border: 2px solid rgb(0, 202, 0);
    border-left: 10px solid rgb(0, 202, 0);
    color: rgb(0, 202, 0);
}
.wronganswer {
    border: 2px solid rgb(212, 38, 15);
    border-left: 10px solid rgb(212, 38, 15);
    color: rgb(212, 38, 15);
}
.answeritem-titlesection {
    display: flex;
    flex-direction: row;
}
.answernumber {
    font-weight: 600;
}
#correct-label, #wrong-label1, #wrong-label2 {
    display: none;
    margin-left: 50px;
    font-weight: 600;
}
#correct-label {
    color: rgb(0, 202, 0);
}
#wrong-label1, #wrong-label2 {
    color: rgb(212, 38, 15);
}
.label-display {
    display: inline-block !important;
    z-index: 10000;
}
.not-clickable {
    pointer-events: none;
}
#answer1 {
    margin-top: 80px;
    animation-delay: 3s;
}
#answer2 {
    animation-delay: 3.5s;
}
#answer3 {
    animation-delay: 4s;
}

/* 2 - CITIZEN QUOTES - WOULD YOU DO THIS? */
/* CARD STYLES */
#citizen-text-div{
    animation-delay: 4s;
    position: fixed;
    top: 0;
    left: 0;
}
.card-deck, .card, .card-text, .card a {
    display: flex;
    flex-direction: row;
}
.card-deck {
    align-items: center;
    width: 80%;
    height: 16%;
    margin: 20px auto 0;
    padding: 0;
}
.card {
    width: 500px;
    height: 150px;
    margin: 10px 0 0 0px;
    padding: 0 20px 0 0;
    border: 1px solid #a8a8a8;
    border-left: 10px solid #3D00C9;
    background-color: white;
    z-index: 10000;
    color: black;
    text-align: left;
    font-size: 1.7rem;
    outline: none !important;
    border-radius: 8px;
    box-shadow: 3px 3px 30px #6b40d1;

}
.card-text {
    color: #000000 !important;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    font-size: 1.7rem;
    line-height: 2rem;
}
.card img :hover {
    outline: none !important;
}
.card img {
    margin: 0 20px;
    width: 80px;
    padding-right: 20px;
    height: 146px;
    justify-content: center;
    align-items: center;
}
#row1 {
    margin-top: 310px;
    animation-delay: 6.5s;
}
#row2 {
    animation-delay: 7s;
}
#row3 {
    animation-delay: 7.5s;
}


/* 3 - INTRODUCING 3 VALUE CHAINS  */

#wood-worker-intro-vcs > #character, #woman-intro-vcs > #character {
    min-width: 800px;
    max-width: 800px;
    bottom: 0px;
}
#wood-worker-intro-vcs > #character {
    right: -150px;
    animation-delay: 5s;
}
#woman-intro-vcs > #character {
    left: -100px;
    animation-delay: 4s;
}
#bubble4 {
    max-width: 650px;
    top: 50px;
    left: 250px;
    animation-delay: 5.5s;
}
#bubble5 {
    max-width: 600px;
    right: 250px;
    top: 100px;
    animation-delay: 9s;
}
#bubble6 {
    max-width: 500px;
    bottom: 450px;
    left: 450px;
    animation-delay: 12s;
}

/* 4 - BROAD DATA OF 3 VALUE CHAINS */

#wood-worker-broad-data > #character, #chef-broad-data > #character {
    min-width: 800px;
    max-width: 800px;
    animation-delay: 5s;
}
#chef-broad-data > #character {
    bottom: -300px;
    left: 100px;
}
#wood-worker-broad-data > #character {
    bottom: 100px;
    right: -200px;
}
#bubble7 {
    max-width: 600px;
    bottom: 650px;
    right: 250px;
    animation-delay: 6s;
}
#bubble8 {
    max-width: 650px;
    bottom: 300px;
    left: 500px;
    animation-delay: 9s;
}
#video-broad-vcs {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}
#construc-sector-btn {
    position: fixed;
    right: 300px !important;
}

/* 5 - CONSTRUCTION SECTOR */

#wood-worker-construction > #character, #chef-construction > #character {
    min-width: 800px;
    max-width: 800px;
    animation-delay: 8s;
}
#chef-construction > #character {
    top: -300px;
    right: 200px;
}
#wood-worker-construction > #character {
    bottom: -300px;
    left: -50px;
}
#bubble9 {
    max-width: 1000px;
    bottom: 250px;
    left: 400px;
    animation-delay: 9s;
}
#bubble10 {
    max-width: 650px;
    top: 100px;
    right: 700px;
    animation-delay: 12s;
}
#food-sector-btn {
    position: fixed;
    right: 300px;
    animation-delay: 14s;
}

/* 6 - FOOD SECTOR */

#chef-food > #character, #woman-food > #character {
    min-width: 800px;
    max-width: 800px;
    bottom: 0px;
}
#chef-food > #character {
    left: -200px;
    animation-delay: 6s;
}
#woman-food > #character {
    right: -150px;
    animation-delay: 7s;
}
#bubble11 {
    max-width: 800px;
    bottom: 550px;
    left: 150px;
    animation-delay: 8s;
}
#bubble12 {
    max-width: 700px;
    top: 250px;
    right: 200px;
    animation-delay: 11s;
}
#bubble13 {
    max-width: 700px;
    bottom: 400px;
    left: 400px;
    animation-delay: 12.5s;
}

/* 7 - CONSUMER GOODS SECTOR */

#woman-consumers > #character {
    min-width: 800px;
    max-width: 800px;
    bottom: -20px;
    left: -50px;
    animation-delay: 4s;
}

#woman-consumers > #character2 {
    top: 200px;
    right: -200px;
    max-width: 45%;
    animation-delay: 6s;
}
#bubble14 {
    max-width: 850px;
    top: 50px;
    left: 300px;
    animation-delay: 4.5s;
}
#bubble15 {
    max-width: 700px;
    top: 380px;
    right: 300px;
    animation-delay: 7s;
}
#speculative-future-btn {
    position: fixed;
    bottom: 150px;
    right: 620px;
    animation-delay: 10s;
}

/* 8 - SPECULATIVE FUTURE */

#woman-speculative > #character {
    position: fixed;
    min-width: 800px;
    max-width: 800px;
    bottom: 0px;
    left: 0px;
    animation-delay: 5s;
}
#bubble16 {
    max-width: 700px;
    top: 150px;
    left: 350px;
    animation-delay: 5.5s;
}
#bubble17 {
    max-width: 500px;
    top: 400px;
    left: 500px;
    animation-delay: 8s;
}
#commit-future-btn {
    position: fixed;
    right: 350px;
    bottom: 250px;
}

/* 9 - COMMITMENT TO FUTURE */
div #commitments-container {
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 800px;
}
#commitments-texts-div > #commit-title {
    margin-top: 200px;
    margin-left: 240px;
    animation-delay: 4.5s;
}
#form-commitment {
    margin-top: 150px;
    margin-left: 50px;
    animation-delay: 5s;
}
div #commit1-div, div #commit2-div, div #commit3-div  {
    display: flex;
    flex-direction: row !important;
    justify-content: left !important;
    align-items: center !important;
    margin: 0 10%;
}
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left:40px;
    height:48px; 
    display:inline-block;
    line-height:48px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size: 36px;
    vertical-align:middle;
    cursor:pointer;
    margin-bottom: 50px;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -48px;
}
label.css-label {
    font-family: 'Lora', serif;
    color: white;
    font-weight: 400;
    padding-left: 80px !important;
    background-image:url(assets/checkbox-01.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#get-involved-btn {
    position: fixed;
    bottom: 100px;
}

/* SECTION 10 - THANK YOU / HOW TO GET INVOLVED */


